<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hibernateH2PersonDao" name="hibernateH2PersonDao" class="com.apishow.dao.HibernateH2PersonDao">
        <constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="contentService" name="contentService" class="com.apishow.service.ContentService">
        <constructor-arg name="message" value="NO-VALUE"/>
        <constructor-arg name="dao" ref="hibernateH2PersonDao"/>
    </bean>

</beans>